<div img src="../../../assets/cine5.jpg">
<div class="container">
    <form [formGroup] = "loginForm">
<form style="margin-top: 10%;width: 30%">
 
    <label for="userName">User Name</label>
    <input type="text" class="form-control" formControlName="userName" >
    
  
  
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" formControlName="password">

  
  <button type="submit" class="btn btn-primary" value="Login" (click) = "login()" >Login</button>
</form>
</form>
</div>
</div>
